{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Biodata</h1>
    <a href="https://quanta2018.com/Biodata/detail.html?absen=201">
        <img src="{% static '201.png' %}" alt="Ludy" style="width:300px;height:300px;">
     </a>
    <article>Nama : {{ name }}</article>
    <article>NPM : {{ npm }}</article>
    <article>Umur : {{ age }}</article>
</body>
</html>
